header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.logo {
  max-width: 40%;
  min-height: 5vh;
  top: 0;
}

.nav-list {
  list-style-type: none;
  display: contents;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  transition: all 0.3s;
  font-size: 20px;
}

.nav-list li a:hover {
  color: #fff;
  background-color: #0e68af;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 980px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 2.25rem;
    background-color: transparent;
    cursor: pointer;
    color: black;
  }

  .nav {
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0e68af;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-list li a {
    color: black;
  }
}
